/* NavBar*/

body{
    margin:0;
}

#logo-image{
    width: 100px;
}

.navbar {
    background: black;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans' , sans-serif;

}


nav a:hover{
    color: #f2D661!important;
}


/* Footer */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}
  
.fa:hover {
      opacity: 0.7;
  }
  
.fa-facebook {
    color: white;
  }
  
.fa-instagram {
    color: white;
  }
  
  footer {
    content: "";
    display: block;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:black;
    font-family: 'Open Sans' , sans-serif;
    text-align: center;
    z-index: 3;
 }
 
.container a{
   float: left;
}


/* Contact Section */

#side-text{
    margin-top: 150px;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    background-color:  #407D3C;
    color: white;
    border-radius: 2em;
    height: 420px;
    width: 200px;
    z-index: 2;
    box-shadow: 5px 10px rgba(30, 56, 27, 0.9);
}

#user-input{
    margin-top: 110px;
    margin-left: -200px;
    background-color: #ffffff;
    border: 2px solid #407D3C ;
    padding: 30px 30px 30px 200px;
    border-radius: 2em;
    font-family: 'Open Sans', sans-serif;
    height: 500px;
    box-shadow: 5px 10px rgba(30, 56, 27, 0.7);
    z-index: 1;

}

#contact-cont{
    margin-bottom: 80px;
}

#contact-title{
    text-align: center;
    font-family: 'Boogaloo', cursive;

}

#contact-submit{
    background-color: #407D3C;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2em;
    width: 100px;
}

#contact-image{
    width: 150px;
    border-radius: 200em;
    border: 2px solid black ;
}

.contact-icon{
    width: 100px;
    background: white!important;
}


/* Thank you message */

#thank-you-message{
    margin-top: 150px;
    text-align: center;

}

#ty-img {
    width: 350px;
    border-radius: 200em;
    border: 2px solid black ;

}

/* Media Queries Start */

/* 768 */
@media (max-width: 766px) { 
    #user-input{
        margin-top: 30px;
        padding: 30px 30px 30px 30px;
        margin-left: 0px;
        height: 450px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }

    #side-text{
        margin-top: 90px;
        height: 360px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end!important;
    }

}