<<<<<<< HEAD:home.css
=======

>>>>>>> 74e4131969b219156762272a6a742d0b3534d3cf:style.css
/* This is a test - Alexandra */

.navbar{
    background-color: blue;
}

#contact-menu {
    color: pink;
}

/* This is Stephanie's test code */
body {
    background-color: pink;
    color: white;
<<<<<<< HEAD:home.css
}


/* Contact Form */

#contact-cont{
    margin-top: 100px;
=======
>>>>>>> 74e4131969b219156762272a6a742d0b3534d3cf:style.css
}