/* This is a test - Alexandra */

.navbar{
    background-color: blue;
}

#contact-menu {
    color: pink;
}
=======
/* This is Stephanie's test code */
body {
    background-color: pink;
    color: white;
}


/* Contact Form */

#contact-cont{
    margin-top: 100px;
}